# SD data

In [1]:
# These commands control inline plotting
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

import numpy as np # Useful numeric package
import scipy as sp # Useful statistics package
import matplotlib.pyplot as plt # Plotting package

In [4]:
import re
import pandas as pd
df = pd.read_csv('city_property_billing_datasd.csv')

In [5]:
df.lessee_name

,lessee_name,billing_record_date,line_type_calc,invoice_number,period_covered,AR_line_amt_display,line_status_calc,invoice_due_date
0,"WESTFIELD CORPORATION, INC.",1/1/2000,Invoice,B77056,FEBRUARY,8333.33,Paid,2/10/2000
1,"FOSTER, RAYMOND/02",1/1/2000,Invoice,H76875,FEBRUARY,2000.00,Paid,2/1/2000
2,"FOSTER, RAYMOND/03",1/1/2000,Invoice,B77035,FEBRUARY,250.00,Paid,2/1/2000
3,"FOSTER, RAYMOND/04",1/1/2000,Invoice,B76877,FEBRUARY,300.00,Paid,2/1/2000
4,"DEMEESTER, JEFFERY",1/1/2000,Invoice,H77108,DECEMBER,0.00,Paid,1/31/2000
5,"MCCAW, LAWRENCE E",1/1/2000,Invoice,H77027,FEBRUARY,291.67,Paid,2/1/2000
6,KIDS CORNER INC,1/1/2000,Invoice,H77172,FEBRUARY,600.00,Paid,2/1/2000
7,"PACIFIC NORTH COUNTY, LLC",1/1/2000,Invoice,B77144,FEBRUARY,0.00,Paid,2/1/2000
8,KRUSE CONCESSIONS INC,1/1/2000,Invoice,H76966,DECEMBER,0.00,Paid,1/31/2000
9,PACIFIC WIND DESIGN,1/1/2000,Invoice,H76988,DECEMBER,0.00,Paid,1/31/2000
10,HENRY RANCH,1/1/2000,Invoice,B77004,01/01/99-12/31/99,0.00,Paid,2/14/2000
11,"WITMAN, BILL",1/1/2000,Invoice,B77087,01/01/99-12/31/99,0.00,Paid,1/31/2000
12,SLOOP & WITMAN/01,1/1/2000,Invoice,B76921,01/01/99-12/31/99,0.00,Paid,1/31/2000
13,SLOOP & WITMAN/02,1/1/2000,Invoice,B76846,01/01/99-12/31/99,0.00,Paid,1/31/2000
14,SLOOP & WITMAN/03,1/1/2000,Invoice,B77187,01/01/99-12/31/99,0.00,Paid,1/31/2000
15,"VERGER, BERT",1/1/2000,Invoice,B77025,FEBRUARY,1638.49,Paid,2/1/2000
16,"KONYN, FRANK J",1/1/2000,Invoice,B76881,FEBRUARY,735.48,Paid,2/1/2000
17,RANCHO DE LA LOMA,1/1/2000,Invoice,B76932,01/01/99-12/31/99,0.00,Paid,1/31/2000
18,CLOVERDALE STABLES INC/01,1/1/2000,Invoice,H77159,FEBRUARY,1101.02,Paid,2/1/2000
19,"JANCIC, CHARLES - 25 ACRES",1/1/2000,Invoice,B77090,FEBRUARY,885.23,Paid,2/1/2000
20,"JANCIC, CHARLES - 40 ACRES",1/1/2000,Invoice,B77011,DECEMBER,0.00,Paid,1/31/2000
21,"JANCIC, CHARLES - 40 ACRES",1/1/2000,Invoice,B77012,10/01/99-12/31/99,0.00,Paid,1/31/2000
22,WITMAN RANCH INC/30 AC,1/1/2000,Invoice,B76870,01/01/99-12/31/99,0.00,Paid,1/31/2000
23,WITMAN RANCH INC/25 AC,1/1/2000,Invoice,B77016,01/01/99-12/31/99,0.00,Paid,1/31/2000
24,"WILLIAMS, DUDLEY & ROBERT NEAL",1/1/2000,Invoice,H77183,FEBRUARY,667.00,Paid,2/1/2000
25,"JACKSON, MICHELE",1/1/2000,Invoice,H76856,FEBRUARY,450.00,Paid,2/1/2000
26,"PARRISH, TERRY",1/1/2000,Invoice,H77128,FEBRUARY,475.00,Paid,2/1/2000
27,ZOOLOGICAL SOCIETY OF SD/02,1/1/2000,Invoice,H76973,02/01/00-04/30/00,17050.00,Paid,2/1/2000
28,"LITTLEFIELD,JACQUELYN & DE BORONY,LASZLO",1/1/2000,Invoice,B77145,02/01/00-04/30/00,2375.00,Paid,2/1/2000
29,WILKENS NURSERY,1/1/2000,Invoice,B76850,02/01/00-04/30/00,650.00,Paid,2/1/2000
...,...,...,...,...,...,...,...,...
147511,"MG STONEWOOD GARDEN APARTMENTS, L.P.",5/23/2016,Payment,B124494,NaN,33823.69,Applied,NaN
147512,"SMEDLEY, GALLAGHER & GEE, LLP",5/23/2016,Payment,B124587,NaN,1591.35,Applied,NaN
147513,"FAMILY HEALTH CENTERS OF SD, INC./02",5/23/2016,Payment,B124698,NaN,287.50,Applied,NaN
147514,"R&D PROPERTIES, LLC & RALPH BURNI TRUST",5/23/2016,Payment,B122582,NaN,50523.85,NaN,NaN
147515,SURFARI SURF SCHOOL,5/23/2016,Payment,B124266,NaN,713.82,Applied,NaN
147516,T-MOBILE WEST LLC/P&R,5/23/2016,Payment,B124602,NaN,18448.11,NaN,NaN
147517,T-MOBILE WEST LLC/P&R,5/23/2016,Payment,B124602,NaN,18448.11,NaN,NaN
147518,SD FAMILY CARE,5/24/2016,Invoice,B124760,7/01/16-6/30/17,3450.00,Open,6/23/2016
147519,NORTH COUNTY DISPATCH JOINT POWERS AUTH,5/24/2016,Invoice,B124761,5/01/16-6/30/16,73.14,Open,6/23/2016
147520,CHSP MISSION BAY LLC,5/24/2016,Payment,B124721,NaN,287871.00,Applied,NaN
147521,FEDERAL BUREAU OF INVESTIGATION,5/24/2016,Payment,NaN,NaN,721.00,NaN,NaN
147522,TUSCH-DERBONNE COMPANY,5/24/2016,Payment,B124611,NaN,6221.08,Applied,NaN
147523,SD CANOE & KAYAK TEAM,5/24/2016,Payment,B124700,NaN,385.38,Applied,NaN
147524,YMCA OF SD COUNTY,5/24/2016,Payment,B124647,NaN,265.20,Applied,NaN
147525,SD SOCCER CLUB,5/24/2016,Payment,B124678,NaN,686.00,Applied,NaN
147526,"OTAY TERMINAL-CALLE FORTUNADA, LLC",5/24/2016,Payment,B124528,NaN,11725.56,Applied,NaN
147527,JEWISH COMMUNITY CENTER,5/24/2016,Payment,B124644,NaN,911.10,Applied,NaN
147528,HANOHANO OUTRIGGER CANOE CLUB & SD DRAGON BOAT...,5/25/2016,Payment,NaN,NaN,393.00,NaN,NaN
147529,LODGE AT TORREY PINES PARTNERSHIP,5/27/2016,Payment,B124484,NaN,60581.00,Applied,NaN
147530,BRAEMAR PARTNERSHIP/9TH & A LP,5/27/2016,Payment,B124594,NaN,3112.03,Applied,NaN
147531,LODGE AT TORREY PINES PARTNERSHIP,5/27/2016,Payment,B124610,NaN,201736.31,Applied,NaN
147532,LODGE AT TORREY PINES PARTNERSHIP,5/27/2016,Payment,B124483,NaN,5109.36,Applied,NaN
147533,BH PARTNERSHIP,5/27/2016,Payment,B124562,NaN,150057.52,Applied,NaN
147534,BH PARTNERSHIP,5/27/2016,Payment,B124563,NaN,6250.00,Applied,NaN
147535,BRAEMAR PARTNERSHIP/02,5/27/2016,Payment,B124593,NaN,41.67,Applied,NaN
147536,NEW CINGULAR WIRELESS PCS/STADIUM,6/21/2016,Payment,B123155,NaN,2095.57,Applied,NaN
147537,NEW CINGULAR WIRELESS PCS/STADIUM,6/21/2016,Payment,B123156,NaN,2095.57,Applied,NaN
147538,NEW CINGULAR WIRELESS PCS/STADIUM,6/21/2016,Payment,B123157,NaN,2095.57,Applied,NaN
147539,NaN,7/16/2029,Payment,NaN,NaN,620.00,NaN,NaN
147540,NaN,7/16/2029,Payment,XXXXXX1,NaN,21880.00,NaN,NaN

In [11]:
40 % 1000 == 0

False

In [14]:
re4str = re.compile('.*taco.*', re.IGNORECASE)
for i,name in enumerate(df.lessee_name.dropna()):
    if i % 1000 == 0:
        print i
    if re4str.match(name):
        print name

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000